.parallax {
    position: relative;
    overflow: hidden;
  }
  
  .scroller {
    display: flex;
    align-items: center;
    height: 2rem;
    white-space: nowrap;
    text-align: center;
    font-family: Inter, sans-serif;
    /* font-size: 2rem; */
    font-weight: bold !important;
    letter-spacing: -0.02em;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  }
  
  .scroller span {
    flex-shrink: 0;
    background: #000;
    color: #f9f9f9
  }
  
  @media (min-width: 768px) {
    .scroller {
      font-size: 5rem;
      line-height: 5rem;
    }
  }